extends layout

block content
	div.container
		h1 Charts
		div.container
			div#userTable
			div#summaryTable
			div#wordChart

	script(src='https://www.google.com/jsapi')
	script(src='/scripts/chart.js')