extends layout

block content
	div.container
		h1 Welcome
		form#loginForm(role='form')
			a#login(type='submit', href='/auth/google', class='btn btn-default btn-lg btn-block') Log in with Google
		div.container
			br
		form#loginForm(role='form')
			a#signup(type='submit', href='/signup', class='btn btn-primary btn-lg btn-block') Sign up
