extends layout

block content
	div.container
		h1 Sign up
		div#badTeamName(class='alert alert-danger', role='alert', style='display:none')
			| Team name cannot contain spaces or special characters ('-' and '_' are allowed)

		form#form(role='form')
			div(class='form-group')
				input#team(type='text', class='form-control input-lg')
			a#signup(type='submit', class='btn btn-primary btn-lg btn-block') Join Team
